.homemain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--nav-background);

}

.homemain2 {
  display: flex;
  justify-content: center;


}

.dots-container2 {
  width: 80vw;
}


.homeboxdiv {
  display: flex;
  gap: 47px;
  flex-direction: column;
  width: 80vw;
}

.homebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeboxheading {
  margin-top: 4rem;
}


.bhagvat-heading {
  color: var(--nav-texthover-color);
  font-family: "Libre Baskerville", serif;
  font-size: 4vw;
  font-weight: bold;
}

.H2-tag {
  color: var(--text-black);
  font-family: "Libre Baskerville", serif;
  font-size: 4.44vw;
  line-height: normal;
}

.para-text {
  color: var(--para);
  font-size: 1.67vw;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

.scroll-button {
  display: flex;
  justify-content: center;
  width: 13vw;
  padding: 3% 1%;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 25.5px 0px;
  border: 2px solid #ff4500;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
}

.scroll-button span {
  line-height: 23px;
  color: var(--text-black);
}

.right-box {
  position: absolute;
  top: 15%;
  right: 4%;
}

.right-box img {
  width: 55vw;
  height: auto;
}



@media screen and (max-width:660px) {
  .right-box {
    position: static;
  }

  .right-box img {
    order: 1;
    width: 100%;
    height: auto;


  }

  .homeboxheading {
    order: 2;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .homebox {
    flex-direction: column;
    width: 100%;

  }

  .dots-container,
  .dots-container2 {
    display: none;
  }

  .bhagvat-heading {
    font-size: 11vw;

  }

  .H2-tag {
    font-size: 12vw;
  }

  .para-text {
    font-size: 4vw;

  }

  .scroll-button {
    width: 24vw;
    padding: 2% 2%;
    font-size: 2.4vw;
  }
}

@media screen and (max-width: 430px) {
  .scroll-button {
    width: 32vw;
    padding: 2% 2%;
    font-size: 2.4vw;
  }
}