.purpose {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--nav-background);


}

.purpose-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purpose-heading{
    color: var(--text-black);
}
.purpose-para {
    color: var( --nav-texthover-color);
}

.p-p {
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    color: var(--text-black);
}


.purpose-img img {
    width: 414px;
    height: auto;
    background-color: #FF4500;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border: 2px solid black;
}

.purpose-circle {

    padding-bottom: 40px;

}


@media screen and (max-width: 768px) {
    .purpose {
        padding: 20px;
    }

    .purpose-img img {
        
        order: 1; 
    }
    .p-p {
        order: 2; 
        margin-left: 30px; 
    }

    .purpose-box {
        flex-direction: column;
    }
}
/* 

@media screen and (max-width: 480px) {
    .purpose {
        padding: 10px;
    }
} */