.teambigdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.teamdiv{
    width: 80vw;
   
}
.team-p{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-black);
    margin-top: 40px;
    margin-bottom: 40px;
}




.carousel-container {
  height: 156vh; 
  position: relative;
}

.carousel-content {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px; 
}
.card {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 20px;
  min-width: 300px;
  background-color: transparent;
 
}

.team-img img {
  width: 100%;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  
}

.connect-button {
  width: 50%;
  padding: 6px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid var(--team-connect-border);
  color:var(--team-connect-text);
  margin-top: 10px;
}

.role-color {
  color: var(--para);
}


.H4-tag {
  font-weight: bold;
  color: var(--text-black);
}

.textinfo {
  margin-top: 10px;
}

.team-para{
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-black);
  text-align: center;
  
}
