.homebox{
    height: 950px; 
    

}
.homebox1{
    height: 900px;
    background-color: var(--nav-background);
    padding-top: 80px;
}

.home-div2{
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

.home-line{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.home-line-img{
    margin-left: 30%;
        
       
   
} 


.home-img img{
    width: 600px;
    height: auto;
   
}
.text-box{
    padding: 30px;
 

}

.bhagvat-heading{
    color: var(--nav-texthover-color);
}

.H2-tag{
    color: var(--text-black);
}
.para-text{
    color: var(--para);
}

.scroll-button{
    color: var(--text-black);
    width: 160px;
    padding: 15px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border:  2px solid var(--nav-texthover-color);
}

