 .team {
    padding-left: 60px;
    padding-right: 60px;
  }
 
  .slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .prev-button,
  .next-button {
   background-color: transparent;
    color: var(--text-black);
    padding: 6px 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .next-button {
    margin-left: 10px;
  }
  
  .card-slider-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 -10px; 
    padding: 10px 0; 
  }
  
  .card-slider {
    display: flex;
  }

 .next-line {
    height: 20px; 
    background-color: red; 
    border-top: 4px double #d5bb8a; 
    border-bottom: 4px double #d5bb8a; 
    margin-top: 10px;
  }
  
  .prev-line {
    height: 20px;
    background-color: rgb(134, 248, 19); 
    /* border-top: 4px solid #d5bb8a;
    border-bottom: 4px solid #d5bb8a; 
    margin-top: 10px; */
  } 

  .team-thank {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
    font-weight: 700;
    
}

