.about-card-parent {
  background-color: var(--nav-background);
  border-radius: 20px;
}
.about-card {
  display: grid;
  grid-template-columns: 328px 1fr;
  grid-gap: 30px;

  align-content: center;
}
.about-card-name {
  color: var(--nav-texthover-color);
  font-family: "Libre Baskerville", serif;
  font-size: 53px;
}
.about-card-degination {
  color: var(--text-black);
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.39rem;
  text-transform: uppercase;
}
.about-card-btn {
  color: var(--text-black);
  width: 102px;
  height: 32px;
  background-color: var(--team-btn);
  box-shadow: 15px 15px 15px 0px var( --team-btn-shaddow-1), -15px -15px 15px 0px var( --team-btn-shaddow-2);
}