@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;500;600&family=Roboto+Flex:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@300&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap");

* {
  margin: 0;
  padding: 0;
  
}

h2 {
  font-family: "Libre Baskerville", serif;
}

p {
  font-family: "Roboto Flex", sans-serif;
}

body {
  background: var(--body-background);
  overflow-x: hidden;
  
}



:root {
  --nav-background: #f0f0f0;
  --nav-texthover-color: #ff6600;
  --text-black: #000;
  --para: #5a5a5a;
  --multiple-circle: #e6e6e6;
  --homedot-circle: #eee8dd;
  --whitecolor: #ffffff;
  --content-p: #d1a76d;
  --content-per: #d5c5aa;
  --team-connect-border: #d5bb8a;
  --team-connect-text: #a78555;
  --body-background: #ffffff;
  --content-dot: #e6e6e6;
  --content-active-dot: #ff6600;
  --team-btn: #ffffff;
  --team-btn-shaddow-1: rgba(0, 0, 0, 0.03);
  --team-btn-shaddow-2: rgba(255, 255, 255, 0.25);
}

[data-theme="dark"] {
  --nav-background: #392b1d;
  --text-black: #ffffff;
  --para: #eee8dd;
  --multiple-circle: #4d3c2a;
  --content-p: #ff6600;
  --content-per: #ffffff;
  --body-background: #4d3c2a;
  --content-dot: #392b1d;
  --team-btn: #4d3c2a;
  --team-btn-shaddow-1: rgb(0 0 0 / 12%);
  --team-btn-shaddow-2: rgb(35 35 35 / 25%);

}
